<div class="nette-inner">
	<h1 style="margin-top: 10px;">Administration API</h1>
	<table style="width: 500px;">
		<tbody>
		{if count($adminCalls) < 1}
			<tr><td>No calls</td></tr>
		{/if}
		{foreach $adminCalls as $call}
			<tr>
				<th colspan="2"><h3>{$call['method']}</h3></th>
			</tr>
			<tr>
				<th style="width:20%;">Request</th>
				<td>{$call['body']|formatXml|noEscape}</td>
			</tr>
			<tr>
				<th style="width:20%;">Response</th>
				<td>{$call['response']|formatObject|noEscape}</td>
			</tr>
		{/foreach}
		</tbody>
	</table>


	<h1 style="margin-top: 30px;">Maintenance API</h1>
	<table style="width: 500px;">
		<tbody>
		{if count($maintenanceCalls) < 1}
			<tr><td>No calls</td></tr>
		{/if}
		{foreach $maintenanceCalls as $call}
			<tr>
				<th colspan="2"><h3>{$call['method']}</h3></th>
			</tr>
			<tr>
				<th style="width:20%;">Request</th>
				<td>{$call['body']|formatXml|noEscape}</td>
			</tr>
			<tr>
				<th style="width:20%;">Response</th>
				<td>{$call['response']|formatObject|noEscape}</td>
			</tr>
		{/foreach}
		</tbody>
	</table>
</div>